@import url('https://fonts.googleapis.com/css2?family=Lato&family=Shizuru&family=Silkscreen&display=swap');

*, html{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Silkscreen', sans-serif;
    box-sizing: border-box;

}

a{
    text-decoration: none;
}


.fa-bars{
    color: #000;
    z-index: 1000;
    position: fixed;
    top: 1.2rem;
    right: 4.5rem;
    font-size: 2rem;
    display: none;
    opacity: 0;
}

/* Navigation Bar */
.nav-container{
    background-color: #ffffff;
    z-index: 1000;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0 0 10px rgb(255, 255, 255);

}
.container{
    background-color: #000000ec;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    height: 50px;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0.9rem;
    right: 4rem;
    z-index: 1000;
    width: 50%;
}

.container li{
    list-style: none;
    padding-right: 80px;
}

.container li a{
    color: #ffffff;

}

.login {
    border: 2px solid #020202;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.555);
    color: #000000;
    background-color: #fdfbfb;
}

.login:hover {
    background-color: #ffffffe0;
    color: #fff;
    border: 2px solid #fff;
}

#nav-login a{
    color: #000;
}




/* Sections Part */
section {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

section#home{
    background-image: url("bg-image.jpg");
    background-size: cover;
    background-position: center center;
}
section#home .logo {
    position: fixed;
    text-decoration: none;
    z-index: 1000;
    top: 0.9rem;
    left: 4.5rem;
    border: 2px solid #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.555);
    color: rgb(255, 255, 255);
    background-color: #000;
}

section#about{
    background-color: #fff;
    border: 5px solid #000;
    position: relative;
    overflow: hidden;
}

section#about .epoch1{
    color: #000;
    position: absolute;
    top: 30px;
    left: 50px;
}


section#earn{
    background-color: #000;
    color: #fdfbfb;
}
section#earn h1{
    align-self: flex-start;
}

 @keyframes slideIn {
     from {
         opacity: 0;
         transform: translateX(20px);
     }

     to {
         opacity: 1;
         transform: translateX(0);
     }
 }

.flex {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage-div{
    border: 5px solid #000;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    background-color: #f2f2f2;
    height: 50%;
    width: 70%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.homepage-div h1{
    word-wrap: break-word;
    font-size: 2.5rem;
    margin-top: 1rem;
    animation: slideIn 1s ease-out;
    
}

.homepage-div h4{
    word-wrap: break-word;
    animation: slideIn 2s linear;
}

.homepage-button{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.button {
    background-color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    height: 60px;
    width: auto;
    text-align: center;
    color: white;
    padding: 1em ;
    text-align: center;
    text-decoration: none;
    /* display: inline-flex; */
    /* margin: 4px 2px; */
    font-size: 1rem;
    cursor: pointer;
}

.button1 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 5px solid #000000;


}

.button2 {
    background-color: #000;
    border: 5px solid #fff;
}


#countdown{
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #fff;
    background-color: #000;
    height: 50px;
    text-align: center;
    padding: 15px 32px;
    position: absolute;
    top: -20px;
}

.vertical-line{
    border-top: 5px solid #000;
    width: 100%;
    position: absolute;
}
.circle{
    position: absolute;
    width: 90px;
    height: 90px;
    border: 5px solid #000;
    border-radius: 50%;
}
.quadrant{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 45%;
    
}

.q1{
    top: -35px;
    left: -60px;
    border-right: 2px solid #000;
    
}

.q2{
    top: -35px;
    right: -60px;
    border-left: 2px solid #000;
    
}

.q3{
    bottom: -35px;
    left: -60px;
    border-right: 2px solid #000;
    
} 

.q4{
    bottom: -35px;
    right: -60px;
    border-left: 2px solid #000;
    
}
.getstarted{
    position: absolute;
    top:20px;
    font-size: 2rem;
}
.PayDay{
    position: absolute;
    top: 100px;
    font-weight: bold;
    text-align: center;
    padding: 0 10px;
    font-size: 1.2rem;
}

.container-2{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.card{
    /* */
    flex: 1;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #f2f2f2;
    height: 220px;
    max-width: 320px;
    text-align: center;
    padding: 10px; 
}
.card h1{
    font-size: 20px;
}
.card p{
    font-weight: 300;
}

.fa-twitter, .fa-calculator,.fa-piggy-bank{
    margin: 0;
    font-size: 1.6rem;
}

 @keyframes bounce {
     0%,
     20%,
     50%,
     80%,
     100% {
         transform: translateY(0);
     }

     40% {
         transform: translateY(-20px);
     }

     60% {
         transform: translateY(-10px);
     }
 }

 /* Text styling */
 .coming-soon {
    display: none;
    position: absolute;
    top: 120px;
    right: 150px;
    font-weight: bold;
    font-size: 2em;
    color: #000000;
    animation: bounce 2s infinite;
 }

@media(max-width:510px){
    .button {
        font-size: 0.8rem;
    }
    .homepage-button{
        flex-direction: column;
        gap: 15px;
    }
}
@media(max-width: 660px) {
    .homepage-div {
        width: 100%;
    }
    .epoch1{
        display: none;
    }
    .getstarted{
                font-size: 1.3rem;
    }
    .PayDay{
        font-size: 1rem;
    }
    .card p {
        font-size: 10px;
    }
}

@media(max-width:920px){
    .container{
        position: fixed;
        border-radius: 0;
        right: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 50%;
        height: 160px;
        text-align: center;
        transition: 0.3s;
    }
    .container.active{
        right: 0;
    }
    .fa-bars{
        opacity: 1;
        display: block;
    }
}

@media(max-width: 1087px) {
    .container {
        width: 70%;
    }
}

@media (max-width: 1020px) {
    .circle{
        display: none;
    }
    .homepage-div h1 {
        font-size: 1.5rem;
    }

    .homepage-div h4 {
        font-size: 0.8rem;
    }

    .container-2{
        height: 70vh;
        gap: 1.5rem;
        flex-direction: column;
    }
    .vertical-line{
        display: none;
    }
    .card{
        min-width: 200px;
    }
    .card h1{
        font-size: 15px;
    }
    .card p{
        font-size: 12px;
    }
}


